# Core API & Server
fastapi
uvicorn
python-multipart
requests
python-dotenv

# LINE & AI
line-bot-sdk
openai

# Google Services (Sheets & Drive)
gspread
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client

# Data Processing
pandas
openpyxl

# Image Processing
Pillow

# Web App (Dashboard)
streamlit
watchdog

